.App {
  text-align: center;
  background-color: #f5eded;
  height: 100vh;
}
#heading{
  font-size: 30px;
  font-weight: 600;
  margin-top: 5PX;
  margin-bottom:25px;
  text-shadow: 1px black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
label{
  font-size: 15px;
  font-weight:600;
}
span{
  color:crimson;
}
.form-content{
  /* width: 75%; */
  height: 70vh;
  align-items: center;
  background-color: #f5eded;
}
.btn-submit{
  background-color: rgb(0, 0, 90);
  width:150px;
  height: 40px;
  color: cornsilk;
  border:none;
  margin-bottom: 2px;
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
  font-weight:700;
}
.btn-submit:hover{
 opacity: 0.7;
}
.btn-submit:active{
  /* when we click the button */
  opacity:0.4;
}
.fields{
display: grid;
align-items: center;
margin-bottom: 5px;
place-items: center;
}

